/* font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
    font-family: "Poppins";
}

/* Typhography */
.title-landing {
    font-family: "Shrikhand", cursive;
}

/*variabel*/
:root {
    /*tipografi*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --font-semi-bold: 600;
    --font-bold: 700;

    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

:focus {
    outline: 0px solid transparent !important;
}

/* Colors */
.text-orange {
    color: #198974;
}

.text-darker {
    color: #741f89;
}

.text-darker-less {
    color: #33323c;
}

.text-green {
    color: #9cd578;
}

.bg-orange {
    background-color: #198974;
}

.bg-darker {
    background-color: #f9faff;
}

.bg-darker-less {
    background-color: #33323c;
}

.bg-green {
    background-color: #9cd578;
}

.bg-white {
    background-color: #fff;
}

.bg-image {
    background-image: url("../images/banner-simpatik.png");
    background-repeat: no-repeat;
    opacity: 0.75;
}

/* navbar */
nav {
    font-weight: bolder;
    color: #ffffff;
}

nav .nav-link:hover {
    color: #198974;
}

/* img-banner */
@media (max-width: 437) {
    .img-banner {
        width: 200px;
    }
}

/* card */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-content {
    display: grid;
    row-gap: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(34, 35, 37, 0.5);
    border-bottom: 5px solid transparent;
    padding: 2rem 1.5rem;
    margin: 8px 8px;
    border-radius: 32px;
}

@media (max-width: 992px) {
    .card-container {
        display: block;
    }

    .card-content {
        display: block;
    }
}

.card-content img {
    display: block;
    margin: auto;
}

/* timeline */
.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
    padding-bottom: 25px;
    position: relative;
}
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3,
.timeline p {
    padding: 5px 15px;
}
.timeline h3 {
    font-weight: lighter;
}
.timeline p,
.timeline time {
    color: #000000;
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed #741f89;
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content-paper {
    border: 1px solid #198974;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
}
.timeline-content-seminar {
    border: 1px solid #9cd578;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
}
.timeline-content-both {
    border: 1px solid #741f89;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}

.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid #741f89;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid #741f89;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed #741f89;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
}
.timeline-image img {
    position: relative;
    z-index: 100;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-container {
        padding: 0 16px;
    }
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
        text-align: left;
    }
    .timeline-nodes:nth-child(even) {
        flex-direction: row;
    }
    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 4%;
        width: 0;
        border-left: 2px dashed #741f89;
        height: 100%;
        z-index: 1;
        transform: translateX(-50%);
    }
    .timeline h3 {
        font-size: 1.7rem;
    }
    .timeline p {
        font-size: 14px;
    }
    .timeline-image {
        position: absolute;
        left: 0%;
        top: 60px;
        /*transform: translateX(-50%;);*/
    }
    .timeline-nodes:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        left: auto;
        right: 100%;
        width: 0;
        border-left: 0;
        border-right: 10px solid #741f89;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline-nodes:nth-child(even) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 100%;
        width: 0;
        border-right: 10px solid #741f89;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline-nodes:nth-child(even) .timeline-date {
        text-align: left;
    }
    .timeline-image::before {
        width: 65px;
        height: 65px;
    }
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 3%;
    }
    .timeline-image {
        position: absolute;
        left: -5%;
    }
    .timeline-image::before {
        width: 60px;
        height: 60px;
    }
}

/* footer */

.site-footer {
    background-color: #ebecec;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.site-footer h6 {
    color: #198974;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
}

.bg-custom {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    font-size: 15px;
}

.box-part {
    background: #fff;
    border-radius: 0;
    padding: 40px 0px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.pricing5 {
    color: #8d97ad;
    font-weight: 300;
}

.pricing5 h1,
.pricing5 h2,
.pricing5 h3,
.pricing5 h4,
.pricing5 h5,
.pricing5 h6 {
    color: #3e4555;
}

.pricing5 h5 {
    line-height: 22px;
    font-size: 18px;
}

.pricing5 .font-weight-medium {
    font-weight: 500;
}

.pricing5 .bg-light {
    background-color: #f4f8fa !important;
}

.pricing5 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.pricing5 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.pricing5 .general-listing {
    margin: 90px 0 60px 0;
}

.pricing5 .card {
    background-size: 100% !important;
}

.pricing5 .yearly {
    display: none;
}

.pricing5 .pricing-box {
    margin-top: 120px;
}

.pricing5 .pricing-box .middle-box {
    margin-top: -75px;
}

.pricing5 .pricing-box .middle-box .general-listing {
    margin-top: 60px;
}

@media (max-width: 767px) {
    .pricing5 .pricing-box {
        margin-top: 40px;
    }
    .pricing5 .pricing-box .middle-box {
        margin-top: 0px;
    }
}

.pricing5 .btn-success-gradiant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(
        legacy-direction(to right),
        #2cdd9b 0%,
        #1dc8cc 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#2cdd9b),
        to(#1dc8cc)
    );
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.pricing5 .btn-success-gradiant:hover {
    background: #1dc8cc;
    background: -webkit-linear-gradient(
        legacy-direction(to right),
        #1dc8cc 0%,
        #2cdd9b 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#1dc8cc),
        to(#2cdd9b)
    );
    background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

.pricing5 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

.pricing5 .rounded-left {
    border-top-left-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
}

.pricing5 .rounded-right {
    border-top-right-radius: 60px !important;
    border-bottom-right-radius: 60px !important;
}

.pricing5 .btn-outline-success {
    color: #2cdd9b;
    background-color: transparent;
    border-color: #2cdd9b;
}

.pricing5 .btn-outline-success:hover {
    background: #2cdd9b;
    border-color: #2cdd9b;
    color: #ffffff;
}

ul {
    padding-left: 0px !important;
}

ol {
    /* list-style-position: inside; */
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
}

ol li {
    text-align: left;
    /* margin-left: 10%; */
}