/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

html,
body {
    width: 100%;
    overflow-x: hidden;
}

/* Custom Shadow */
.shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1) !important;
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1) !important;
}

/* Typhography */

* {
    font-family: "Poppins";
}

.title-landing {
    font-family: "Shrikhand", cursive;
}

span {
    font-size: 15px;
}

.text {
    margin: 20px 0px;
}

p {
    color: #8d97ad !important;
}

a {
    text-decoration: none;
}

:focus {
    outline: 0px solid transparent !important;
}

/* Colors */
.text-green {
    color: #1abc9c;
}

.text-purple {
    color: #741f89;
}

.text-gold {
    color: #f1c40f;
}

.bg-green {
    background-color: #1abc9c;
}

.bg-smoke {
    background-color: #f9faff;
}

.bg-purple {
    background-color: #741f89;
}

.bg-gold {
    background-color: #f1c40f;
}

/* Button */
.btn-purple {
    background-color: #741f89;
    color: #fff;
    transition: 0.3s;
    border: none;
}

.btn-outline-purple {
    background-color: transparent;
    color: #741f89;
    border: solid 2px #741f89;
    transition: 0.3s;
}

.btn-purple:hover {
    background-color: #631a75;
}

.btn-outline-purple:hover {
    background-color: #741f89;
    color: #fff;
    border: solid 2px #741f89;
}

/* navbar */
nav {
    font-weight: bolder;
    color: #ffffff;
}

nav .nav-link:hover {
    color: #741f89;
}

/* img-banner */
@media (max-width: 437) {
    .img-banner {
        width: 200px;
    }
}

/* card */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-content {
    display: grid;
    row-gap: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(34, 35, 37, 0.5);
    border-bottom: 5px solid transparent;
    padding: 2rem 1.5rem;
    margin: 8px 8px;
    border-radius: 32px;
}

@media (max-width: 992px) {
    .card-container {
        display: block;
    }

    .card-content {
        display: block;
    }
}

.card-content img {
    display: block;
    margin: auto;
}

/* timeline */
.timeline-section {
    background-color: #fff;
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #33323c;
    left: calc(50% - 1px);
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child {
    margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}
.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #33323c;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date {
    font-size: 18px;
    color: #33323c;
    margin: 6px 0 15px;
}
.timeline-content {
    padding: 30px;
}
.timeline-content h3 {
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.timeline-content p {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    .timeline-dot {
        left: 0;
    }
}

/* HERO BG */
.bg-custom {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Custom Card */
.box-part {
    background: #fff;
    border-radius: 0;
    padding: 40px 0px;
    margin: 30px 0px;
}

ul {
    padding-left: 0px !important;
}

ol {
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
}

ol li {
    text-align: left;
    color: #8d97ad;
}

/* Pricing */
.pricing5 {
    color: #8d97ad;
    font-weight: 300;
}

.pricing5 h1,
.pricing5 h2,
.pricing5 h3,
.pricing5 h4,
.pricing5 h5,
.pricing5 h6 {
    color: #3e4555;
}

.pricing5 h5 {
    line-height: 22px;
    font-size: 18px;
}

.pricing5 .font-weight-medium {
    font-weight: 500;
}

.pricing5 .bg-light {
    background-color: #f4f8fa !important;
}

.pricing5 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.pricing5 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.pricing5 .general-listing {
    margin: 90px 0 60px 0;
}

.pricing5 .card {
    background-size: 100% !important;
}

.pricing5 .pricing-box {
    margin-top: 120px;
}

.pricing5 .pricing-box .middle-box {
    margin-top: -75px;
}

.pricing5 .pricing-box .middle-box .general-listing {
    margin-top: 60px;
}

@media (max-width: 767px) {
    .pricing5 .pricing-box {
        margin-top: 40px;
    }
    .pricing5 .pricing-box .middle-box {
        margin-top: 0px;
    }
}

.pricing5 .rounded-left {
    border-top-left-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
}

.pricing5 .rounded-right {
    border-top-right-radius: 60px !important;
    border-bottom-right-radius: 60px !important;
}

/* Publikasi */
.product-img {
    object-fit: contain;
    height: 80px;
    width: 100%;
}

/* footer */
.site-footer {
    background-color: #ebecec;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.site-footer h6 {
    color: #741f89;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: bold;
}

.site-footer a {
    color: #8d97ad;
    text-decoration: none;
}

.site-footer .contact p i {
    margin-right: 5px;
}

.site-footer a:hover {
    color: #741f89;
    text-decoration: none;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
}
