/* font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*variabel*/
:root {
    /*tipografi*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --font-semi-bold: 600;
    --font-bold: 700;

    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

:focus {
    outline: 0px solid transparent !important;
}

/* NEW COLORS */
.text-purple {
    color: #670077;
}

.bg-purple {
    background-color: #670077;
}

/* Colors */
.text-orange {
    color: #dd5110;
}

.text-darker {
    color: #670077;
}

.text-darker-less {
    color: #33323c;
}

.text-green {
    color: #3ec3a3;
}

.bg-orange {
    background-color: #dd5110;
}

.bg-darker {
    background-color: #670077;
}

.bg-darker-less {
    background-color: #33323c;
}

.bg-green {
    background-color: #3ec3a3;
}

.bg-image {
    background-image: url("../images/banner-simpatik.png");
    background-repeat: no-repeat;
    opacity: 0.75;
}

/* navbar */
nav {
    font-weight: bolder;
    color: #ffffff;
}

nav .nav-link:hover {
    color: #dd5110;
}

/* img-banner */
@media (max-width: 437) {
    .img-banner {
        width: 200px;
    }
}

/* card */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-content {
    display: grid;
    row-gap: 1rem;
    background-color: #fefefe;
    box-shadow: 0 4px 16px rgba(34, 35, 37, 0.5);
    border-bottom: 5px solid transparent;
    padding: 2rem 1.5rem;
    margin: 8px 8px;
    border-radius: 32px;
}

@media (max-width: 992px) {
    .card-container {
        display: block;
    }

    .card-content {
        display: block;
    }
}

.card-content img {
    display: block;
    margin: auto;
}

/* timeline */
.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
    padding-bottom: 25px;
    position: relative;
}
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3,
.timeline p {
    padding: 5px 15px;
}
.timeline h3 {
    font-weight: lighter;
}
.timeline p,
.timeline time {
    color: #000000;
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed #670077;
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content-paper {
    border: 1px solid #dd5110;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
}
.timeline-content-seminar {
    border: 1px solid #3ec3a3;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
}
.timeline-content-both {
    border: 1px solid #670077;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}

.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid #670077;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid #670077;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed #670077;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
}
.timeline-image img {
    position: relative;
    z-index: 100;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-container {
        padding: 0 16px;
    }
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
        text-align: left;
    }
    .timeline-nodes:nth-child(even) {
        flex-direction: row;
    }
    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 4%;
        width: 0;
        border-left: 2px dashed #670077;
        height: 100%;
        z-index: 1;
        transform: translateX(-50%);
    }
    .timeline h3 {
        font-size: 1.7rem;
    }
    .timeline p {
        font-size: 14px;
    }
    .timeline-image {
        position: absolute;
        left: 0%;
        top: 60px;
        /*transform: translateX(-50%;);*/
    }
    .timeline-nodes:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        left: auto;
        right: 100%;
        width: 0;
        border-left: 0;
        border-right: 10px solid #670077;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline-nodes:nth-child(even) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 100%;
        width: 0;
        border-right: 10px solid #670077;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline-nodes:nth-child(even) .timeline-date {
        text-align: left;
    }
    .timeline-image::before {
        width: 65px;
        height: 65px;
    }
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 3%;
    }
    .timeline-image {
        position: absolute;
        left: -5%;
    }
    .timeline-image::before {
        width: 60px;
        height: 60px;
    }
}

/* footer */

.site-footer {
    background-color: #ebecec;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #dd5110;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

.partners td {
    padding: 8px;
}
